/* <style type="text/css"> */

/*THUMBNAIL HOVERPOPUPS*/

.thumbnail  {
	position: relative;
	padding: 5px;
	z-index: 0;
}

.thumbnail:hover {
	background-color: transparent;
	z-index: 50;
	color: #335500;
	text-decoration: none;
}

.thumbnail span { /*CSS for enlarged image*/
	position: absolute;
	background-color: #e5e5e5;
	padding: 5px;
	left: -1000px;
	border: 1px solid #666;
	visibility: hidden;
	color: black;
	text-decoration: none;
}

.thumbnail span img { /*CSS for enlarged image*/
	border-width: 0px; 
	/*padding: 2px;*/
}

.thumbnail:hover span { /*CSS for enlarged image on hover*/
	visibility: visible; 
	/* width: 200px; */
	top: 5px; /* use IF IE6 style to correct IE6 positions of larger image relative to thumb */
	left: 60px;/*position where enlarged image should offset horizontally */
}

/* </style> */
